.header{
    padding: 32px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.menu a{
    color: var(--color-0);
    border-bottom: 2px solid black;
}

.menu a:hover{
    border-bottom: 2px solid white;
    transition: 0.3s;
}

@media(max-width:600px){
    .header{
        flex-direction: column;
        gap: 18px;
    }
   /* adding more area to click on the link */ 
  .menu a{
    font-size: 16px;
 }
}

