.little-text-form{
    margin-top: 24px;
}

.orç-inputs{
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 18px 14px 10px;
    background-color: var(--color-10);
    border-radius: 4px;
}

.orç-inputs-bikes{
    display: flex;
    flex-direction: column;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 18px 14px 10px;
    background-color: var(--color-10);
    border-radius: 4px;
}

.nimbus-orç-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.orç-row{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 8px;
}

.orç-row-top{
    display: flex;
    justify-content: space-between;
    gap: 62px;
}

.little-text-orç{
    margin-top: 26px;
    margin-bottom: 18px;
    position: relative;
    display: flex;
    align-items: center;
}

.orç-bg{
    padding-bottom: 120px;
}


.little-text-orç::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--color-p1);
    position: absolute;
    left: -16px;
    border-radius: 2px;
}

.inputs-orç-bike{
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgb(150, 16, 16);
}

.nimbus-orç{
    display: grid;
    grid-template-columns: auto 1fr;
}

.escolha-input{
    display: flex;
    align-items: flex-start;
}

.escolha-input input[type="radio"]{
    visibility: hidden;
}
.escolha-input input[type='radio']:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: relative;
    margin-top: 0.2rem;
    background-color: var(--color-2);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid var(--color-9);
}
.escolha-input input[type='radio']:checked:after {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 0.2rem;
    position: relative;
    background-color: var(--color-10);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

.escolha-container{
    background-color: aliceblue;
    padding: 6px 3px 3px 6px;
    border-radius: 8px;
    width: 340px;
    margin-bottom: 18px;
}

.escolha-nome-preço{
    display: flex;
    justify-content: space-between;
    padding: 6px 28px 3px 12px;
}

.interativo-icones{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4px 8px;
}

.escolha-container-interativo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding: 6px 3px 3px 16px;
    align-items: center;
}

.display-block{
    display: block !important;
}